In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pylab as plt
import re
import os
import glob
from matplotlib import rcParams
from sklearn import linear_model
from sklearn import metrics
%matplotlib inline

In [2]:
rcParams['figure.figsize'] = 10,10
rcParams['axes.linewidth'] = 4.0
rcParams['savefig.dpi'] = 500
rcParams['pdf.fonttype'] = 42
rcParams['ps.fonttype'] = 42

# MMGBSA Binding free energy

## Open

In [3]:
dG1_list=[]
title=[]

file="/mnt/u1/pde2/gafb/open/vsw_sp_1/lists/list1.txt"
readFile = open(file, "r")
for cmpd in readFile:
    cmpd = cmpd.strip()
    #print (line)
    title.append(cmpd)
    gbsa="/mnt/u1/pde2/gafb/open/vsw_sp_1/5000/amber/"+cmpd+"/pbsa/Results.dat"
    try:
        readGbsa = open(gbsa, "r")
        for line in readGbsa:
            line = line.strip() # strip end-on-line
            if re.match(r"DELTA TOTAL", line):
                dG1_total = line.split()
                dG1_list.append(dG1_total[2])
    except FileNotFoundError as e:
        print(e.filename)
        non="none"
        dG1_list.append(non)
list1c1 = pd.DataFrame({'title': title,'Open dG': dG1_list})

In [4]:
dG2_list=[]
title=[]

file="/mnt/u1/pde2/gafb/open/vsw_sp_1/lists/list2.txt"
readFile = open(file, "r")
for cmpd in readFile:
    cmpd = cmpd.strip()
    #print (line)
    title.append(cmpd)
    gbsa="/mnt/u1/pde2/gafb/open/vsw_sp_1/5000/amber/"+cmpd+"/pbsa/Results.dat"
    try:
        readGbsa = open(gbsa, "r")
        for line in readGbsa:
            line = line.strip() # strip end-on-line
            if re.match(r"DELTA TOTAL", line):
                dG2_total = line.split()
                dG2_list.append(dG2_total[2])
    except FileNotFoundError as e:
        print(e.filename)
        non="none"
        dG2_list.append(non)
list2c1 = pd.DataFrame({'title': title,'Open dG': dG2_list})

In [5]:
dG3_list=[]
title=[]

file="/mnt/u1/pde2/gafb/open/vsw_sp_1/lists/list3.txt"
readFile = open(file, "r")
for cmpd in readFile:
    cmpd = cmpd.strip()
    #print (line)
    title.append(cmpd)
    gbsa="/mnt/u1/pde2/gafb/open/vsw_sp_1/5000/amber/"+cmpd+"/pbsa/Results.dat"
    try:
        readGbsa = open(gbsa, "r")
        for line in readGbsa:
            line = line.strip() # strip end-on-line
            if re.match(r"DELTA TOTAL", line):
                dG3_total = line.split()
                dG3_list.append(dG3_total[2])
    except FileNotFoundError as e:
        print(e.filename)
        non="none"
        dG3_list.append(non)
list3c1 = pd.DataFrame({'title': title,'Open dG': dG3_list})

In [6]:
dG4_list=[]
title=[]

file="/mnt/u1/pde2/gafb/open/vsw_sp_1/lists/list4.txt"
readFile = open(file, "r")
for cmpd in readFile:
    cmpd = cmpd.strip()
    #print (line)
    title.append(cmpd)
    gbsa="/mnt/u1/pde2/gafb/open/vsw_sp_1/5000/amber/"+cmpd+"/pbsa/Results.dat"
    try:
        readGbsa = open(gbsa, "r")
        for line in readGbsa:
            line = line.strip() # strip end-on-line
            if re.match(r"DELTA TOTAL", line):
                dG4_total = line.split()
                dG4_list.append(dG4_total[2])
    except FileNotFoundError as e:
        print(e.filename)
        non="none"
        dG4_list.append(non)
list4c1 = pd.DataFrame({'title': title,'Open dG': dG4_list})

In [7]:
dG5_list=[]
title=[]

file="/mnt/u1/pde2/gafb/open/vsw_sp_1/lists/list5.txt"
readFile = open(file, "r")
for cmpd in readFile:
    cmpd = cmpd.strip()
    #print (line)
    title.append(cmpd)
    gbsa="/mnt/u1/pde2/gafb/open/vsw_sp_1/5000/amber/"+cmpd+"/pbsa/Results.dat"
    try:
        readGbsa = open(gbsa, "r")
        for line in readGbsa:
            line = line.strip() # strip end-on-line
            if re.match(r"DELTA TOTAL", line):
                dG5_total = line.split()
                dG5_list.append(dG5_total[2])
    except FileNotFoundError as e:
        print(e.filename)
        non="none"
        dG5_list.append(non)
list5c1 = pd.DataFrame({'title': title,'Open dG': dG5_list})

## Closed

In [8]:
dG1_list=[]
title=[]

file="/mnt/u1/pde2/gafb/closed/vsw_sp_1/lists/list1.txt"
readFile = open(file, "r")
for cmpd in readFile:
    cmpd = cmpd.strip()
    #print (line)
    title.append(cmpd)
    gbsa="/mnt/u1/pde2/gafb/closed/vsw_sp_1/5000/amber/"+cmpd+"/pbsa/Results.dat"
    try:
        readGbsa = open(gbsa, "r")
        for line in readGbsa:
            line = line.strip() # strip end-on-line
            if re.match(r"DELTA TOTAL", line):
                dG1_total = line.split()
                dG1_list.append(dG1_total[2])
    except FileNotFoundError as e:
        print(e.filename)
        non="none"
        dG1_list.append(non)
list1c2 = pd.DataFrame({'title': title,'Closed dG': dG1_list})

In [9]:
dG2_list=[]
title=[]

file="/mnt/u1/pde2/gafb/closed/vsw_sp_1/lists/list2.txt"
readFile = open(file, "r")
for cmpd in readFile:
    cmpd = cmpd.strip()
    #print (line)
    title.append(cmpd)
    gbsa="/mnt/u1/pde2/gafb/closed/vsw_sp_1/5000/amber/"+cmpd+"/pbsa/Results.dat"
    try:
        readGbsa = open(gbsa, "r")
        for line in readGbsa:
            line = line.strip() # strip end-on-line
            if re.match(r"DELTA TOTAL", line):
                dG2_total = line.split()
                dG2_list.append(dG2_total[2])
    except FileNotFoundError as e:
        print(e.filename)
        non="none"
        dG2_list.append(non)
list2c2 = pd.DataFrame({'title': title,'Closed dG': dG2_list})

In [10]:
dG3_list=[]
title=[]

file="/mnt/u1/pde2/gafb/closed/vsw_sp_1/lists/list3.txt"
readFile = open(file, "r")
for cmpd in readFile:
    cmpd = cmpd.strip()
    #print (line)
    title.append(cmpd)
    gbsa="/mnt/u1/pde2/gafb/closed/vsw_sp_1/5000/amber/"+cmpd+"/pbsa/Results.dat"
    try:
        readGbsa = open(gbsa, "r")
        for line in readGbsa:
            line = line.strip() # strip end-on-line
            if re.match(r"DELTA TOTAL", line):
                dG3_total = line.split()
                dG3_list.append(dG3_total[2])
    except FileNotFoundError as e:
        print(e.filename)
        non="none"
        dG3_list.append(non)
list3c2 = pd.DataFrame({'title': title,'Closed dG': dG3_list})

In [11]:
dG4_list=[]
title=[]

file="/mnt/u1/pde2/gafb/closed/vsw_sp_1/lists/list4.txt"
readFile = open(file, "r")
for cmpd in readFile:
    cmpd = cmpd.strip()
    #print (line)
    title.append(cmpd)
    gbsa="/mnt/u1/pde2/gafb/closed/vsw_sp_1/5000/amber/"+cmpd+"/pbsa/Results.dat"
    try:
        readGbsa = open(gbsa, "r")
        for line in readGbsa:
            line = line.strip() # strip end-on-line
            if re.match(r"DELTA TOTAL", line):
                dG4_total = line.split()
                dG4_list.append(dG4_total[2])
    except FileNotFoundError as e:
        print(e.filename)
        non="none"
        dG4_list.append(non)
list4c2 = pd.DataFrame({'title': title,'Closed dG': dG4_list})

In [12]:
dG5_list=[]
title=[]

file="/mnt/u1/pde2/gafb/closed/vsw_sp_1/lists/list5.txt"
readFile = open(file, "r")
for cmpd in readFile:
    cmpd = cmpd.strip()
    #print (line)
    title.append(cmpd)
    gbsa="/mnt/u1/pde2/gafb/closed/vsw_sp_1/5000/amber/"+cmpd+"/pbsa/Results.dat"
    try:
        readGbsa = open(gbsa, "r")
        for line in readGbsa:
            line = line.strip() # strip end-on-line
            if re.match(r"DELTA TOTAL", line):
                dG5_total = line.split()
                dG5_list.append(dG5_total[2])
    except FileNotFoundError as e:
        print(e.filename)
        non="none"
        dG5_list.append(non)
list5c2 = pd.DataFrame({'title': title,'Closed dG': dG5_list})

## Check duplicates

In [13]:
list1c1[list1c1.duplicated(['Open dG'], keep=False)]

                    title   Open dG
254  ligprep_1_sdf_107603  -38.1994
462  ligprep_1_sdf_116379  -38.1994

In [14]:
list2c1[list2c1.duplicated(['Open dG'], keep=False)]

                    title   Open dG
204  ligprep_1_sdf_151661  -31.2546
782  ligprep_1_sdf_190404  -31.2546

In [15]:
list3c1[list3c1.duplicated(['Open dG'], keep=False)]

                    title   Open dG
115  ligprep_1_sdf_204003  -27.2295
168  ligprep_1_sdf_207122  -31.5783
169  ligprep_1_sdf_207383  -31.5783
459   ligprep_1_sdf_29364  -27.2295
628   ligprep_1_sdf_35068  -36.8489
655   ligprep_1_sdf_36001  -32.3106
666   ligprep_1_sdf_36548  -32.3106
748   ligprep_1_sdf_39456  -28.3638
833   ligprep_1_sdf_41830  -28.3638
958   ligprep_1_sdf_46466  -36.8489

In [16]:
list4c1[list4c1.duplicated(['Open dG'], keep=False)]

                   title   Open dG
34   ligprep_1_sdf_49021  -34.9207
206  ligprep_1_sdf_52704  -34.3012
207  ligprep_1_sdf_52707  -34.3012
298  ligprep_1_sdf_56184  -34.9207
766  ligprep_1_sdf_73683  -30.3109
998  ligprep_1_sdf_81512  -30.3109

In [17]:
list5c1[list5c1.duplicated(['Open dG'], keep=False)]

                   title   Open dG
72   ligprep_1_sdf_84228  -31.5688
572  ligprep_1_sdf_96951  -31.5688

In [18]:
list1c2[list1c2.duplicated(['Closed dG'], keep=False)]

                    title Closed dG
674  ligprep_1_sdf_128394  -24.0751
751  ligprep_1_sdf_129835  -28.8201
873  ligprep_1_sdf_134092  -24.0751
940  ligprep_1_sdf_135375  -28.8201

In [19]:
list2c2[list2c2.duplicated(['Closed dG'], keep=False)]

                    title Closed dG
134  ligprep_1_sdf_150854  -31.4839
137  ligprep_1_sdf_150914  -28.1099
548  ligprep_1_sdf_167785  -29.1399
645  ligprep_1_sdf_169641  -28.1099
663  ligprep_1_sdf_170500  -29.1399
684    ligprep_1_sdf_1710  -31.4839

In [20]:
list3c2[list3c2.duplicated(['Closed dG'], keep=False)]

                    title Closed dG
414  ligprep_1_sdf_200834  -28.2304
416  ligprep_1_sdf_200852  -28.2304
445  ligprep_1_sdf_201649  -28.4086
598  ligprep_1_sdf_206204  -28.4086

In [21]:
list4c2[list4c2.duplicated(['Closed dG'], keep=False)]

                   title Closed dG
157  ligprep_1_sdf_35447  -29.6717
217  ligprep_1_sdf_37430  -27.6823
256   ligprep_1_sdf_3839  -26.5901
289   ligprep_1_sdf_3971  -27.6823
317  ligprep_1_sdf_40843  -28.6503
361  ligprep_1_sdf_42687  -31.8332
518  ligprep_1_sdf_50177  -26.5901
627  ligprep_1_sdf_55130  -31.8332
887  ligprep_1_sdf_63123  -28.6503
932  ligprep_1_sdf_63565  -29.6717

In [22]:
list5c2[list5c2.duplicated(['Closed dG'], keep=False)]

                   title Closed dG
132  ligprep_1_sdf_68741  -29.4659
306  ligprep_1_sdf_76932  -28.1281
331  ligprep_1_sdf_77519  -33.9263
365   ligprep_1_sdf_7857  -33.9263
417  ligprep_1_sdf_80394  -28.1281
538   ligprep_1_sdf_8772  -29.4659

In [42]:
listc1 = pd.concat([list1c1, list2c1, list3c1, list4c1, list5c1], axis=0)
listc2 = pd.concat([list1c2, list2c2, list3c2, list4c2, list5c2], axis=0)

In [43]:
idNumlist=pd.read_csv("/home/chuck/u1/pde2/idnumlist.csv", header=0, sep=',', engine='python')
idNumlist['title'] = idNumlist['title'].str.replace('.','_')
idNumlist['title'] = idNumlist['title'].str.replace(':','_')
idNumlist.drop_duplicates(['IDNUMBER'], inplace=True)

/tmp/ipykernel_21987/1419095131.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  idNumlist['title'] = idNumlist['title'].str.replace('.','_')

In [25]:
allIC50=pd.read_csv("/home/chuck/ipn/PDE2/nucleo.csv", header=0, sep=',', engine='python')
dG=pd.merge(listc1, listc2, how='outer', on='title')
dG=pd.merge(dG, idNumlist, how='left', on='title')
fin2=pd.merge(dG, allIC50, how='left', on='title')

fin2['Open dG'] = pd.to_numeric(fin2['Open dG'])
fin2['Closed dG'] = pd.to_numeric(fin2['Closed dG'])

fin2['Lowest'] = fin2[['Open dG','Closed dG']].min(axis=1)
fin2.sort_values(by=['Lowest'], inplace=True)
fin2["Rank"] = fin2['Lowest'].rank(method='first')
#fin2.to_csv("/home/chuck/ipn/PDE2/DOCK_Gafb_SP.csv", index=False)

# TESTING: Sort Values

In [29]:
mergd=fin2[fin2['Open dG'].notnull()].sort_values(by=['Closed dG'])

In [30]:
mergd.to_csv("/home/chuck/ipn/PDE2/mergd.csv", index=False)

In [64]:
nucopen=pd.read_csv("/home/chuck/ipn/PDE2/nucleo-open.csv", header=0, sep=',', engine='python')
dG_total=[]
dG_list=[]
for k in range(20):
    tmp = nucopen['title'][k]
    cmpd = str(tmp)
    file="/mnt/u1/pde2/gafb/open/mol2/nucleo/amber/"+tmp+"/pbsa/Results.dat"
    readFile = open(file, "r")
    for line in readFile:
        line = line.strip() # strip end-on-line
        if re.match(r"DELTA TOTAL", line):
            dG_total = line.split()
            dG_list.append(dG_total[2])
nucopen['Open dG'] = dG_list
nucopen['Open dG'] = pd.to_numeric(nucopen['Open dG'])
nucopen.to_csv("/home/chuck/ipn/PDE2/nucopen.csv", index=False)

In [65]:
nuclosed=pd.read_csv("/home/chuck/ipn/PDE2/nucleo-closed.csv", header=0, sep=',', engine='python')
dG_total=[]
dG_list=[]
for k in range(15):
    tmp = nuclosed['title'][k]
    cmpd = str(tmp)
    file="/mnt/u1/pde2/gafb/closed/mol2/nucleo/amber/"+tmp+"/pbsa/Results.dat"
    readFile = open(file, "r")
    for line in readFile:
        line = line.strip() # strip end-on-line
        if re.match(r"DELTA TOTAL", line):
            dG_total = line.split()
            dG_list.append(dG_total[2])
nuclosed['Closed dG'] = dG_list
nuclosed['Closed dG'] = pd.to_numeric(nuclosed['Closed dG'])
nuclosed.to_csv("/home/chuck/ipn/PDE2/nuclosed.csv", index=False)

In [63]:
#dG=pd.merge(listc1, listc2, how='outer', on='title')
listc1=pd.merge(listc1, idNumlist, how='left', on='title')
listc2=pd.merge(listc2, idNumlist, how='left', on='title')

#fin11=pd.merge(listc1, nucopen, how='outer', on='title')
#fin22=pd.merge(listc2, nuclosed, how='outer', on='title')


#fin11['Open dG'] = pd.to_numeric(fin11['Open dG'])
#fin22['Closed dG'] = pd.to_numeric(fin22['Closed dG'])

fin11.sort_values(by=['Open dG'], inplace=True)
fin22.sort_values(by=['Closed dG'], inplace=True)

#fin11["Rank"] = fin11['Open dG'].rank(method='first')
#fin22["Rank"] = fin22['Closed dG'].rank(method='first')

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [35]:
fin11.to_csv("/home/chuck/ipn/PDE2/gafb-opendg.csv", index=False)
fin22.to_csv("/home/chuck/ipn/PDE2/gafb-closeddg.csv", index=False)

In [56]:
fin11

,title,Open dG_x,IDNUMBER_x,IDNUMBER_y,IDNUMBER_x,IDNUMBER_y,EC50,Open dG_y
0,2-O-MS-TME-cGMP,-52.9763,NaN,NaN,NaN,NaN,0.22,-52.9185
1,ligprep_1_sdf_100006,-35.2804,AK-968/41171128,AK-968/41171128,AK-968/41171128,AK-968/41171128,NaN,NaN
2,ligprep_1_sdf_100067,-34.8428,AK-968/41171374,AK-968/41171374,AK-968/41171374,AK-968/41171374,NaN,NaN
3,ligprep_1_sdf_100294,-35.7895,AK-968/41171870,AK-968/41171870,AK-968/41171870,AK-968/41171870,NaN,NaN
4,ligprep_1_sdf_100390,-37.8183,AK-968/41172039,AK-968/41172039,AK-968/41172039,AK-968/41172039,NaN,NaN
...,...,...,...,...,...,...,...,...
4707,MANT-cGMP,NaN,NaN,NaN,NaN,NaN,8.20,-36.9009
4708,2-O-MS-cGMP,NaN,NaN,NaN,NaN,NaN,2.50,-26.9080
4709,2-O-ME-cGMP,NaN,NaN,NaN,NaN,NaN,28.00,-29.3280
4710,cPuMP,NaN,NaN,NaN,NaN,NaN,8.00,-31.7175
4711,cXMP,NaN,NaN,NaN,NaN,NaN,100.00,-29.4656