In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

# Exploratory Data Analysis

In [3]:
accidents = pd.read_csv("accidents.csv")
autos = pd.read_csv("autos.csv")
concrete = pd.read_csv("concrete.csv")
customer = pd.read_csv("customer.csv")

In [5]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          193 non-null    int64
 1   make               193 non-null    object
 2   fuel_type          193 non-null    object
 3   aspiration         193 non-null    object
 4   num_of_doors       193 non-null    int64
 5   body_style         193 non-null    object
 6   drive_wheels       193 non-null    object
 7   engine_location    193 non-null    object
 8   wheel_base         193 non-null    float64
 9   length             193 non-null    float64
 10  width              193 non-null    float64
 11  height             193 non-null    float64
 12  curb_weight        193 non-null    int64
 13  engine_type        193 non-null    object
 14  num_of_cylinders   193 non-null    int64
 15  engine_size        193 non-null    int64
 16  fuel_system        193 non-null    object
 17  bore               193 non-null    float64
 18  stroke             193 non-null    float64
 19  compression_ratio  193 non-null    int64
 20  horsepower         193 non-null    int64
 21  peak_rpm           193 non-null    int64
 22  city_mpg           193 non-null    int64
 23  highway_mpg        193 non-null    int64
 24  price              193 non-null    int64
 25  stroke_ratio       193 non-null    float64
dtypes: float64(7), int64(11), object(8)
memory usage: 39.3+ KB

In [4]:
autos["stroke_ratio"] = autos.stroke / autos.bore
autos[["stroke", "bore", "stroke_ratio"]].head()

   stroke  bore  stroke_ratio
0    2.68  3.47      0.772334
1    2.68  3.47      0.772334
2    3.47  2.68      1.294776
3    3.40  3.19      1.065831
4    3.40  3.19      1.065831