In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pylab as plt
import re
import os
import glob
from matplotlib import rcParams
from sklearn import linear_model
from sklearn import metrics
%matplotlib inline

In [2]:
rcParams['figure.figsize'] = 10,10
rcParams['axes.linewidth'] = 4.0
rcParams['savefig.dpi'] = 500
rcParams['pdf.fonttype'] = 42
rcParams['ps.fonttype'] = 42

# MMGBSA Binding free energy

## Conf 1

In [3]:
dG1_list=[]
title=[]

file="/home/chuck/u1/pde2/glide-pde-conf1/vsw_sp_1/lists/list1.txt"
readFile = open(file, "r")
for cmpd in readFile:
    cmpd = cmpd.strip()
    #print (line)
    title.append(cmpd)
    gbsa="/home/chuck/u1/pde2/glide-pde-conf1/vsw_sp_1/5000/amber/"+cmpd+"/pbsa/Results.dat"
    try:
        readGbsa = open(gbsa, "r")
        for line in readGbsa:
            line = line.strip() # strip end-on-line
            if re.match(r"DELTA TOTAL", line):
                dG1_total = line.split()
                dG1_list.append(dG1_total[2])
    except FileNotFoundError as e:
        print(e.filename)
        non="none"
        dG1_list.append(non)
list1c1 = pd.DataFrame({'title': title,'dG conf1': dG1_list})

In [4]:
dG2_list=[]
title=[]

file="/home/chuck/u1/pde2/glide-pde-conf1/vsw_sp_1/lists/list2.txt"
readFile = open(file, "r")
for cmpd in readFile:
    cmpd = cmpd.strip()
    #print (line)
    title.append(cmpd)
    gbsa="/home/chuck/u1/pde2/glide-pde-conf1/vsw_sp_1/5000/amber/"+cmpd+"/pbsa/Results.dat"
    try:
        readGbsa = open(gbsa, "r")
        for line in readGbsa:
            line = line.strip() # strip end-on-line
            if re.match(r"DELTA TOTAL", line):
                dG2_total = line.split()
                dG2_list.append(dG2_total[2])
    except FileNotFoundError as e:
        print(e.filename)
        non="none"
        dG2_list.append(non)
list2c1 = pd.DataFrame({'title': title,'dG conf1': dG2_list})

In [5]:
dG3_list=[]
title=[]

file="/home/chuck/u1/pde2/glide-pde-conf1/vsw_sp_1/lists/list3.txt"
readFile = open(file, "r")
for cmpd in readFile:
    cmpd = cmpd.strip()
    #print (line)
    title.append(cmpd)
    gbsa="/home/chuck/u1/pde2/glide-pde-conf1/vsw_sp_1/5000/amber/"+cmpd+"/pbsa/Results.dat"
    try:
        readGbsa = open(gbsa, "r")
        for line in readGbsa:
            line = line.strip() # strip end-on-line
            if re.match(r"DELTA TOTAL", line):
                dG3_total = line.split()
                dG3_list.append(dG3_total[2])
    except FileNotFoundError as e:
        print(e.filename)
        non="none"
        dG3_list.append(non)
list3c1 = pd.DataFrame({'title': title,'dG conf1': dG3_list})

In [6]:
dG4_list=[]
title=[]

file="/home/chuck/u1/pde2/glide-pde-conf1/vsw_sp_1/lists/list4.txt"
readFile = open(file, "r")
for cmpd in readFile:
    cmpd = cmpd.strip()
    #print (line)
    title.append(cmpd)
    gbsa="/home/chuck/u1/pde2/glide-pde-conf1/vsw_sp_1/5000/amber/"+cmpd+"/pbsa/Results.dat"
    try:
        readGbsa = open(gbsa, "r")
        for line in readGbsa:
            line = line.strip() # strip end-on-line
            if re.match(r"DELTA TOTAL", line):
                dG4_total = line.split()
                dG4_list.append(dG4_total[2])
    except FileNotFoundError as e:
        print(e.filename)
        non="none"
        dG4_list.append(non)
list4c1 = pd.DataFrame({'title': title,'dG conf1': dG4_list})

In [7]:
dG5_list=[]
title=[]

file="/home/chuck/u1/pde2/glide-pde-conf1/vsw_sp_1/lists/list5.txt"
readFile = open(file, "r")
for cmpd in readFile:
    cmpd = cmpd.strip()
    #print (line)
    title.append(cmpd)
    gbsa="/home/chuck/u1/pde2/glide-pde-conf1/vsw_sp_1/5000/amber/"+cmpd+"/pbsa/Results.dat"
    try:
        readGbsa = open(gbsa, "r")
        for line in readGbsa:
            line = line.strip() # strip end-on-line
            if re.match(r"DELTA TOTAL", line):
                dG5_total = line.split()
                dG5_list.append(dG5_total[2])
    except FileNotFoundError as e:
        print(e.filename)
        non="none"
        dG5_list.append(non)
list5c1 = pd.DataFrame({'title': title,'dG conf1': dG5_list})

In [8]:
dG6_list=[]
title=[]

file="/home/chuck/u1/pde2/glide-pde-conf1/vsw_sp_1/lists/list6.txt"
readFile = open(file, "r")
for cmpd in readFile:
    cmpd = cmpd.strip()
    #print (line)
    title.append(cmpd)
    gbsa="/home/chuck/u1/pde2/glide-pde-conf1/vsw_sp_1/5000/amber/"+cmpd+"/pbsa/Results.dat"
    try:
        readGbsa = open(gbsa, "r")
        for line in readGbsa:
            line = line.strip() # strip end-on-line
            if re.match(r"DELTA TOTAL", line):
                dG6_total = line.split()
                dG6_list.append(dG6_total[2])
    except FileNotFoundError as e:
        print(e.filename)
        non="none"
        dG6_list.append(non)
list6c1 = pd.DataFrame({'title': title,'dG conf1': dG6_list})

## Conf 2

In [9]:
dG1_list=[]
title=[]

file="/home/chuck/u1/pde2/glide-pde-conf2/vsw_sp_1/lists/list1.txt"
readFile = open(file, "r")
for cmpd in readFile:
    cmpd = cmpd.strip()
    #print (line)
    title.append(cmpd)
    gbsa="/home/chuck/u1/pde2/glide-pde-conf2/vsw_sp_1/5000/amber/"+cmpd+"/pbsa/Results.dat"
    try:
        readGbsa = open(gbsa, "r")
        for line in readGbsa:
            line = line.strip() # strip end-on-line
            if re.match(r"DELTA TOTAL", line):
                dG1_total = line.split()
                dG1_list.append(dG1_total[2])
    except FileNotFoundError as e:
        print(e.filename)
        non="none"
        dG1_list.append(non)
list1c2 = pd.DataFrame({'title': title,'dG conf2': dG1_list})

In [10]:
dG2_list=[]
title=[]

file="/home/chuck/u1/pde2/glide-pde-conf2/vsw_sp_1/lists/list2.txt"
readFile = open(file, "r")
for cmpd in readFile:
    cmpd = cmpd.strip()
    #print (line)
    title.append(cmpd)
    gbsa="/home/chuck/u1/pde2/glide-pde-conf2/vsw_sp_1/5000/amber/"+cmpd+"/pbsa/Results.dat"
    try:
        readGbsa = open(gbsa, "r")
        for line in readGbsa:
            line = line.strip() # strip end-on-line
            if re.match(r"DELTA TOTAL", line):
                dG2_total = line.split()
                dG2_list.append(dG2_total[2])
    except FileNotFoundError as e:
        print(e.filename)
        non="none"
        dG2_list.append(non)
list2c2 = pd.DataFrame({'title': title,'dG conf2': dG2_list})

In [11]:
dG3_list=[]
title=[]

file="/home/chuck/u1/pde2/glide-pde-conf2/vsw_sp_1/lists/list3.txt"
readFile = open(file, "r")
for cmpd in readFile:
    cmpd = cmpd.strip()
    #print (line)
    title.append(cmpd)
    gbsa="/home/chuck/u1/pde2/glide-pde-conf2/vsw_sp_1/5000/amber/"+cmpd+"/pbsa/Results.dat"
    try:
        readGbsa = open(gbsa, "r")
        for line in readGbsa:
            line = line.strip() # strip end-on-line
            if re.match(r"DELTA TOTAL", line):
                dG3_total = line.split()
                dG3_list.append(dG3_total[2])
    except FileNotFoundError as e:
        print(e.filename)
        non="none"
        dG3_list.append(non)
list3c2 = pd.DataFrame({'title': title,'dG conf2': dG3_list})

In [12]:
dG4_list=[]
title=[]

file="/home/chuck/u1/pde2/glide-pde-conf2/vsw_sp_1/lists/list4.txt"
readFile = open(file, "r")
for cmpd in readFile:
    cmpd = cmpd.strip()
    #print (line)
    title.append(cmpd)
    gbsa="/home/chuck/u1/pde2/glide-pde-conf2/vsw_sp_1/5000/amber/"+cmpd+"/pbsa/Results.dat"
    try:
        readGbsa = open(gbsa, "r")
        for line in readGbsa:
            line = line.strip() # strip end-on-line
            if re.match(r"DELTA TOTAL", line):
                dG4_total = line.split()
                dG4_list.append(dG4_total[2])
    except FileNotFoundError as e:
        print(e.filename)
        non="none"
        dG4_list.append(non)
list4c2 = pd.DataFrame({'title': title,'dG conf2': dG4_list})

In [13]:
dG5_list=[]
title=[]

file="/home/chuck/u1/pde2/glide-pde-conf2/vsw_sp_1/lists/list5.txt"
readFile = open(file, "r")
for cmpd in readFile:
    cmpd = cmpd.strip()
    #print (line)
    title.append(cmpd)
    gbsa="/home/chuck/u1/pde2/glide-pde-conf2/vsw_sp_1/5000/amber/"+cmpd+"/pbsa/Results.dat"
    try:
        readGbsa = open(gbsa, "r")
        for line in readGbsa:
            line = line.strip() # strip end-on-line
            if re.match(r"DELTA TOTAL", line):
                dG5_total = line.split()
                dG5_list.append(dG5_total[2])
    except FileNotFoundError as e:
        print(e.filename)
        non="none"
        dG5_list.append(non)
list5c2 = pd.DataFrame({'title': title,'dG conf2': dG5_list})

## Check duplicates

In [14]:
list1c1[list1c1.duplicated(['dG conf1'], keep=False)]

                    title  dG conf1
116  ligprep_1_sdf_104173  -24.9542
295  ligprep_1_sdf_106585  -24.2454
609  ligprep_1_sdf_124553  -24.2454
690  ligprep_1_sdf_130862  -27.3916
807  ligprep_1_sdf_136328  -24.9542
868   ligprep_1_sdf_13854  -27.3916

In [15]:
list2c1[list2c1.duplicated(['dG conf1'], keep=False)]

                    title  dG conf1
41   ligprep_1_sdf_143873  -28.2205
49   ligprep_1_sdf_144027  -20.5702
258  ligprep_1_sdf_151152  -22.6348
406  ligprep_1_sdf_156899  -28.2205
408  ligprep_1_sdf_156959  -22.6348
976  ligprep_1_sdf_183188  -20.5702

In [16]:
list3c1[list3c1.duplicated(['dG conf1'], keep=False)]

                    title  dG conf1
322  ligprep_1_sdf_195557  -20.9603
844    ligprep_1_sdf_2118  -20.9603

In [17]:
list4c1[list4c1.duplicated(['dG conf1'], keep=False)]

                   title  dG conf1
31   ligprep_1_sdf_25998  -29.2684
43   ligprep_1_sdf_26287  -27.3654
107  ligprep_1_sdf_28088  -25.8401
199  ligprep_1_sdf_28830  -23.8220
324  ligprep_1_sdf_33551  -25.0923
335  ligprep_1_sdf_33854  -15.3836
338  ligprep_1_sdf_33916  -25.8401
460  ligprep_1_sdf_37988  -29.2684
533  ligprep_1_sdf_39762  -15.3836
647  ligprep_1_sdf_42123  -27.3654
734   ligprep_1_sdf_4538  -23.8220
922  ligprep_1_sdf_50080  -25.0923

In [18]:
list5c1[list5c1.duplicated(['dG conf1'], keep=False)]

                   title  dG conf1
677  ligprep_1_sdf_75469  -25.2689
818  ligprep_1_sdf_81314  -26.1827
902  ligprep_1_sdf_84823  -25.2689
939  ligprep_1_sdf_86223  -26.1827

In [19]:
list6c1[list6c1.duplicated(['dG conf1'], keep=False)]

                   title  dG conf1
102  ligprep_1_sdf_93486  -20.5389
235                  M16  -20.5389
244                  M4a  -31.0395
245                  M4b  -31.0395

In [20]:
list1c2[list1c2.duplicated(['dG conf2'], keep=False)]

                    title  dG conf2
33    ligprep_1_sdf_10079  -24.3698
86   ligprep_1_sdf_102559  -25.5998
250  ligprep_1_sdf_106625  -24.3698
252  ligprep_1_sdf_106644  -25.5998
387   ligprep_1_sdf_11332   -0.2955
906  ligprep_1_sdf_144013   -0.2955

In [21]:
list2c2[list2c2.duplicated(['dG conf2'], keep=False)]

                    title  dG conf2
39   ligprep_1_sdf_148563  -25.2805
217   ligprep_1_sdf_15532  -26.1256
284  ligprep_1_sdf_157853  -27.9370
289  ligprep_1_sdf_158040  -25.2805
409  ligprep_1_sdf_162784  -23.8546
427  ligprep_1_sdf_163138  -27.9370
588   ligprep_1_sdf_17434  -26.1256
925  ligprep_1_sdf_193800  -23.8546

In [22]:
list3c2[list3c2.duplicated(['dG conf2'], keep=False)]

                   title  dG conf2
368  ligprep_1_sdf_21434  -23.5143
554  ligprep_1_sdf_26455  -28.3365
629  ligprep_1_sdf_28204  -19.0909
659  ligprep_1_sdf_28765  -28.3365
664  ligprep_1_sdf_28943  -19.0909
878   ligprep_1_sdf_3705  -23.5143

In [23]:
list4c2[list4c2.duplicated(['dG conf2'], keep=False)]

                   title  dG conf2
42   ligprep_1_sdf_41762  -30.4102
94   ligprep_1_sdf_43093  -23.5334
194  ligprep_1_sdf_46930  -25.8853
496  ligprep_1_sdf_57704  -30.4102
761  ligprep_1_sdf_68690  -25.8853
843  ligprep_1_sdf_71324  -23.5334

In [24]:
list5c2[list5c2.duplicated(['dG conf2'], keep=False)]

                   title  dG conf2
752  ligprep_1_sdf_98610  -32.4222
759  ligprep_1_sdf_98726  -32.4222

In [25]:
listc1 = pd.concat([list1c1, list2c1, list3c1, list4c1, list5c1, list6c1], axis=0)
listc2 = pd.concat([list1c2, list2c2, list3c2, list4c2, list5c2], axis=0)

In [26]:
idNumlist=pd.read_csv("/home/chuck/u1/pde2/idnumlist.csv", header=0, sep=',', engine='python')
idNumlist['title'] = idNumlist['title'].str.replace('.','_')
idNumlist['title'] = idNumlist['title'].str.replace(':','_')
idNumlist.drop_duplicates(['IDNUMBER'], inplace=True)

In [27]:
allIC50=pd.read_csv("/home/chuck/ipn/PDE2/all.csv", header=0, sep=',', engine='python')
dG=pd.merge(listc1, listc2, how='outer', on='title')
dG=pd.merge(dG, idNumlist, how='left', on='title')
fin2=pd.merge(dG, allIC50, how='left', on='title')

fin2['dG conf1'] = pd.to_numeric(fin2['dG conf1'])
fin2['dG conf2'] = pd.to_numeric(fin2['dG conf2'])

fin2['Lowest'] = fin2[['dG conf1','dG conf2']].min(axis=1)
fin2.sort_values(by=['Lowest'], inplace=True)
fin2["Rank"] = fin2['Lowest'].rank(method='first')
fin2.to_csv("/home/chuck/ipn/PDE2/GBSA_HTVS.csv", index=False)